* {
    margin: 0;
    padding: 0;
    font-family: Roboto;
}

/* Navbar */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0 20px;
}

nav .logo {
    color: rgb(102, 166, 145);
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

.logo a:link, .logo a:visited, .logo a:hover, .logo a:active {
    color: rgb(102, 166, 145);
}

nav #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    font-weight: 500;
}

#menu  div {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

#menu  div:hover {
    background-color: lightgray;
    cursor: pointer;
}

#menu > a {
    height: 100%;
}

a:link, a:visited, a:hover, a:active {
    display: block;
    text-decoration: none;
    color: black;
}

h2 {
    font-weight: 200;
    font-size: 27px;
}

h1 {
    font-size: 35px;
}

/* Partie principale */
.accueil {
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 60px);
}

/* Phrases d'accroche */
h1,
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 20px;
}

h1 {
    padding-top: 65px;
}

.texte {
    padding-bottom: 50px;
}

/* Encadrés recherche + resultat */
.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

.information .recherche,
.information .resultat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    padding: 40px 40px 30px 30px;
    height: 350px;
    width: 320px;
}

/* Encadré recherche */
.information .recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .recherche input {
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
    width: 100%;
}

.information .recherche input[type=text] {
    padding: 10px 10px 10px 5px;
    width: 100%;
    border-radius: 5px;
}

.information .recherche .btn-texte {
    margin-bottom: 50px;
}

.information .recherche #btn-departure {
    border-bottom: 1px solid gray;
}

.information .recherche .btn-calendar {
    width: 100%;
}

.information .recherche input[type=date] {
    padding: 10px 10px 10px 5px;
    color: gray;
    margin-bottom: 100px;
}

.information .recherche input[type=button] {
    width: 100%;
    padding: 10px 10px 10px 5px;
    background-color: rgb(102, 166, 145);
    color: white;
}

/* Encadré résultat, sans recherche*/
.information .resultat img {
    width: 50%;
    margin-top: 20px;
}

.information .resultat p {
    margin-top: 35px;
}

.information .resultat #trait {
    color: rgb(102, 166, 145);
}

.information .resultat #phrase {
    margin-bottom: 40px;
}

/* Encadré résultat, si recherche bonne */
.information .resultat {
    overflow-y: scroll;
    overflow-x: hidden;
}

.information .resultat .voyage {
    background-color: rgb(246, 241, 240);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 10px;
    padding-right: 20px;
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
}

body {
    background-color: rgb(242, 242, 242);
}

#container {
    height: calc(100vh - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
}

#empty {
    background-color: white;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
}

#empty p {
    padding: 0;
    margin: 15px;
    font-weight: 500;
}

#not-empty {
    background-color: white;
    width: 60%;
    border-radius: 10px;
}

#bottom-cart {
    background-color: rgb(5, 21, 68);
    height: 80px;
    border-radius: 0 0 10px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 80px;
    color: white;
}

button {
    background-color: rgb(102, 166, 145);
    border: 0;
    height: 34px;
    width: 100px;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

#cart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

#cart-list {
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.trip-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: rgb(246, 241, 240);
    height: 60px;
    padding: 5px;
    box-sizing: border-box;
    border-radius: 5px;
}

.trip-container > button {
    width: 34px;
}

#cart-title {
    
}

/* fond 242 242 242
bleu 5 21 68
246 241 240*/