* {
    margin: 0;
    padding: 0;
}

/* Navbar */
nav {
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav .logo {
    color: rgb(102, 166, 145);
}

nav #menu {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 30px;
}

/* Partie principale */
.accueil {
    background: url(./images/background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

/* Phrases d'accroche */
h1,
h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding-top: 20px;
}

h1 {
    padding-top: 65px;
}

.texte {
    padding-bottom: 50px;
}

/* Encadrés recherche + resultat */
.information {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 175px;
}

.information .recherche,
.information .resultat {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: white;
    border-radius: 10px;
    padding: 40px 40px 30px 30px;
    height: 350px;
    width: 320px;
}

/* Encadré recherche */
.information .recherche {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.information .recherche input {
    background-color: rgb(242, 242, 242);
    border: none;
    border-radius: 5px;
    width: 100%;
}

.information .recherche input[type=text] {
    padding: 10px 10px 10px 5px;
    width: 100%;
    border-radius: 5px;
}

.information .recherche .btn-texte {
    margin-bottom: 50px;
}

.information .recherche #btn-departure {
    border-bottom: 1px solid gray;
}

.information .recherche .btn-calendar {
    width: 100%;
}

.information .recherche input[type=date] {
    padding: 10px 10px 10px 5px;
    color: gray;
    margin-bottom: 100px;
}

.information .recherche input[type=button] {
    width: 100%;
    padding: 10px 10px 10px 5px;
    background-color: rgb(102, 166, 145);
    color: white;
}

/* Encadré résultat, sans recherche*/
.information .resultat img {
    width: 50%;
}

.information .resultat p {
    margin-top: 35px;
}

.information .resultat #trait {
    color: rgb(102, 166, 145);
}

.information .resultat #phrase {
    margin-bottom: 40px;
}

/* Encadré résultat, si recherche bonne */
.information .resultat {
    overflow-y: scroll;
    overflow-x: hidden;
}

.information .resultat .voyage {
    background-color: rgb(246, 241, 240);
    display: flex;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 14px;
    width: 100%;
    margin-left: 10px;
    border-radius: 5px;
    height: 60px;
}

.information .resultat .voyage input[type='button'] {
    background-color: rgb(102, 166, 145);
    color: white;
    border: none;
    height: 35px;
    width: 50px;
    border-radius: 5px;
}

.information .resultat .voyage .euro {
    font-weight: bold;
}